/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
.text-center {
  align-items: center;
}
.active {
  color: red;
  font-weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}

header {
  padding: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-right: 1rem;
}

h4 {
  font-size: 1rem;
}

button {
  background-color: transparent;
  border: none;
}

.dark-background {
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex45 {
  flex: 0 1 45%;
}


.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1fr;
}

.active {
  color: red;
  font-weight: 700;
  text-decoration: none;
}

.non-active {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.dark-background .non-active {
  color: white;
}

.power {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list {
  background-color: #e4e4e8;
  padding: 1.2rem 1rem;
  margin: 1rem;
}

.large {
  width: 500px;
}

.dark-background .list,
.dark-background .battle-icons {
  background-color: rgb(52, 52, 52);
}

.info {
  text-align: center;
}

.info img {
  width: 150px;
}

.info h2 {
  font-size: 2rem;
  font-weight: 400;
}

.popular-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.user {
  color: rgb(244, 171, 77);
}

.star {
  color: yellow;
}

.fork {
  color: skyblue;
}

.issue {
  color: rgb(245, 142, 159);
}

.menu {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  margin-right: 0.5rem;
}

.battle {
  text-align: center;
  padding-bottom: 3rem;
}

.battle-icons {
  font-size: 5rem;
  background-color: rgb(225, 221, 221);
  padding: 5rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.battle h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.battle p {
  font-size: 1.8rem;
  font-weight: 300;
}

.users {
  color: rgb(249, 170, 102);
}

.jet {
  color: gray;
}

.trophy {
  color: goldenrod;
}

.submit,
input {
  padding: 0.5rem 2.4rem;
  background-color: rgb(229, 227, 227);
  border-radius: 0.2rem;
  border: none;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.dark-background .submit,
.dark-background input {
  background-color: rgb(52, 52, 52);
  color: rgb(196, 193, 193);
}

.battle-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.dark-background .battle-btn {
  background-color: rgb(99, 97, 97);
  color: black;
}
.winner {
  color: green !important;
  font-size: 2rem;
  font-weight: bold;
}
.loser {
  color: red !important;
  font-size: 2rem;
  font-weight: bold;
}

.box {
  background-color: #cdcdce;
  padding: 2rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.icons {
  font-size: 1rem;
  color: tomato;
}

.wl-h3 {
  font-size: 1.5rem;
  padding: 1rem;
}
